<div class="wrapper"> 
<section > 
  <div class="container">
<div class="row">
  <div class="third">
    <div class="sidebar"> 
      <h3>Filters</h3>
   <div class="heading1"> Launch Year</div>
      <nav class="sdb_holder ">
        <ul class="nospace inline pushright">
          <li  (click)="getSpacexDataByYear(item)" *ngFor = "let item of years" >
            <a class="btn inverse" [ngClass]="{'active': selectedItem == item}">{{item}}</a>
          </li>
       
        </ul>
   
      </nav>
   <div class="heading1"> Successful Launch</div>
        <nav class="sdb_holder ">
          <ul class="nospace inline pushright">
            <li  (click)="getSpacexLaunchSucessFilter(itemv)" *ngFor = "let itemv of value" >
              <a class="btn inverse" [ngClass]="{'active': selectvalue == itemv}">{{itemv}}</a>
            </li>
         
          </ul>
          </nav>
         <div class="heading1"> Successful Landing</div>
            <nav class="sdb_holder ">
              <ul class="nospace inline pushright">
                <li  (click)="getSpacexLaunchLandFilter(items)" *ngFor = "let items of value" >
                  <a class="btn inverse" [ngClass]="{'active': selectvaluesucess == items}">{{items}}</a>
                </li>
             
              </ul>
              </nav>
   
    </div>
  </div>
  
  <div class="nine">
    <div class="row">
      <div class="nine-sub"  *ngFor = "let item of spacexList">
        <article class="details">
          <figure><a  href="#"><img src="{{item.links.mission_patch_small}}"  alt=""></a>
            <figcaption>
              <h6 class="heading">{{item.mission_name}} {{item.flight_number}}</h6>
             
            </figcaption>
          </figure>
       <ul class="nospace">
         <li *ngFor="let mission_id of item?.mission_id"> <strong> Mission  Ids </strong>: {{mission_id}}</li>
         <li> <strong>Launch Year </strong>: {{item.launch_year}}</li>
         <li> <strong>Successful Launch </strong>: {{item.launch_success}}</li>
         <li><strong>Successful Landing </strong>: {{item.rocket.first_stage.cores[0].land_success}} </li>
         <!-- <li> {{item.details}}</li> -->
       </ul>
        </article>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
  </div>
</section>
</div>

<footer class="footertext"> 
  <section> 
    <div class="container">
      <div class="twelve">   Developed by : Shwetalee</div>
    </div>
  </section>
</footer>
